   *{font-family: "League Gothic", sans-serif; font-size: 20px;}
   
   table{width:  1000px;margin: 30px auto;}
          
   table th{padding: 10px 0;background-color: #f4f4f4;border:none;}
          
   table td{padding: 10px;border:  none;width: 18%;text-align: center;background-color: #fff;}

   #data_output tr:nth-child(n+501) {display: none;}

   .searchbar {margin-top: 140px;height: 60px;background-color: #353b48;border-radius: 30px;padding: 10px; }

   .search_input {color: white;border: 0;outline: 0;background: none;width: 450px;caret-color: transparent;}

   .nav{display: flex;justify-content: center;}
   .searchbar > .search_icon {background: white;color: #e74c3c;}

   .search_icon {height: 40px;width: 40px;float: right;display: flex;justify-content: center;align-items: center;border-radius: 50%;color: white;text-decoration: none;}